<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Cruise</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/catering">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/catering/new">Add New Catering</a>
          </li>
        </ul>
        <div class="navbar-nav gap-3 ms-auto">
          <% if (!currUser) { %>
            <a href="/admin/signup">Signup</a>
            <a href="/admin/login">Login</a>
          <% } %>

          <% if (currUser) { %>
          <a href="/admin/logout">Logout</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>