<% layout("/layouts/boilerplate.ejs") %>
<link rel="stylesheet" href="/css/resort-movies/index.css">

<div class="container">
    <h1 class="page-title">Resort & Movies Services</h1>
    <div class="services-container">
        <a href="/resort-movies/resort" class="service-card">
            <div class="service-icon"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLjOl-y886ESop_kF6zQwttaxMCAy0BauqYw&s" alt="Catering Icon"></div>
            <h2 class="service-title">Resort</h2>
            <p class="service-description">Relax and unwind in luxury with our beautiful resorts.</p>
        </a>
        <a href="/resort-movies/movies" class="service-card">
            <div class="service-icon"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRaZKD_CBdopDqvoJMSlkoeJFzgS1F8ugVDug&s" alt="Movies Icon"></div>
            <h2 class="service-title">Movies-Hall</h2>
            <p class="service-description">Enjoy the latest blockbuster films in our comfortable movie halls.</p>
        </a>
    </div>
</div>
