<% layout("/layouts/boilerplate.ejs") %>
<link rel="stylesheet" href="/css/catering/index.css">

<h1>All Catering</h1>

<div class="caterings">
    <% for(Catering of allCaterings) { %>
        <div class="allCatering">
            <a href="/catering/<%= Catering._id %>">
                <div class="catering-image">
                    <img src="<%= Catering.image.url %>" class="image" alt="...">
                </div>
                <div>
                    <h5 class="catering-title">
                        <%= Catering.title %>
                    </h5>
                </div>
            </a>
        </div>
    <% } %>
</div>