<% layout("/layouts/boilerplate.ejs") %>

<h2>Add New Catering</h2>

<form action="/catering" method="POST">
    <input type="text" name="catering[title]" placeholder="Enter catering title" required>
    <br><br>
    <input type="text" name="catering[image]" placeholder="Enter image URL">
    <br><br>
    <textarea name="catering[description]" placeholder="Enter description" required></textarea>
    <br><br>
    <input type="text" name="catering[location]" placeholder="Enter catering location">
    <br><br>
    <button type="submit">Save</button>
</form>