<% layout("/layouts/boilerplate.ejs") %>

    <div class="container mt-5">
        <h2 class="mb-4">Add New Movie</h2>
        <form action="/resort-movies/movies/<%= id %>/movie" method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" placeholder="Enter movie title" name="movies[title]" id="title"
                    required>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" placeholder="Enter movie description" name="movies[description]"
                    id="description" required>
            </div>

            <div class="mb-3">
                <label for="url" class="form-label">Movie Image URL</label>
                <input type="text" class="form-control" placeholder="Enter image URL" name="movies[image]" id="url">
            </div>

            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="text" class="form-control" placeholder="Enter ticket price" name="movies[price]" id="price"
                    required>
            </div>

            <div class="mb-3">
                <label for="schedule" class="form-label">Schedule Time</label>
                <input type="time" class="form-control" placeholder="Enter schedule time" name="movies[schedule]"
                    id="schedule" required>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>